ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   /*what does overflow do?*/
   overflow: hidden;
   border: 1px solid black;
   background-color: grey;

   li{
     display: inline;
     float: left;
     a{
       display: block;
       padding: 8px;

     }
     :hover:not(.active) {
       background-color: #ddd;
     }

   }

}
